<section class="content" id="galeria">
    <h2 class="title-hexagonal title-section-hex-blue">Actividades Institucionales</h2>

    <div class="container-fluid pb-video-container">
        <div class="col-md-10 col-md-offset-1">
            <h3 class="text-center">Galas Culturales</h3>
            <div class="row pb-row cardContainer">
                <div class="col-md-3 pb-video">
                    <iframe class="pb-video-frame"  width="100%" height="230" src="https://www.youtube.com/embed/EwxeO1KCVbQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <label class="form-control label-video text-center">Intro - El Pasillo a través de la Moda</label>
                </div>
                <div class="col-md-3 pb-video">
                    <iframe class="pb-video-frame"  width="100%" height="230" src="https://www.youtube.com/embed/V0A-psiSvtc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <label class="form-control label-video text-center">Desfile virtual QHAPAC ÑAN</label>
                </div>
            </div>
        </div>

        <div class="col-md-10 col-md-offset-1">
            <h3 class="text-center">Publicidad Institucional</h3>
            <div class="row pb-row cardContainer">
                <div class="col-md-3 pb-video">
                    <iframe class="pb-video-frame"  width="100%" height="230" src="https://www.youtube.com/embed/oYNRk1qDEsY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <label class="form-control label-video text-center">Instituto Tecnológico Superior "Yavirac"</label>
                </div>
                <div class="col-md-3 pb-video">
                    <iframe class="pb-video-frame"  width="100%" height="230" src="https://www.youtube.com/embed/Wmk6jXUvXFE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <label class="form-control label-video text-center">Paseo virtual</label>
                </div>
                <div class="col-md-3 pb-video">
                    <iframe class="pb-video-frame"  width="100%" height="230" src="https://www.youtube.com/embed/mFHjzeWBxqk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <label class="form-control label-video text-center">Cajamarca - ITS Yavirac</label>
                </div>
                <div class="col-md-3 pb-video">
                    <iframe class="pb-video-frame"  width="100%" height="230" src="https://www.youtube.com/embed/Jl2q0tflI8U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <label class="form-control label-video text-center">YAVIRAC 2020</label>
                </div>
            </div>
        </div>
        <div class="col-md-10 col-md-offset-1">
            <h3 class="text-center">Entrevistas</h3>
            <div class="row pb-row cardContainer">
                <div class="col-md-3 pb-video">
                    <iframe class="pb-video-frame"  width="100%" height="230" src="https://www.youtube.com/embed/Rb8APrZWbcE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <label class="form-control label-video text-center">Entrevista al Ing. Mauricio Guamán</label>
                </div>
                <div class="col-md-3 pb-video">
                    <iframe class="pb-video-frame"  width="100%" height="230" src="https://www.youtube.com/embed/zVDE5EN7l2k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <label class="form-control label-video text-center">Entrevista al Tnlgo. Daniel Chilig </label>
                </div>
                <div class="col-md-3 pb-video">
                    <iframe class="pb-video-frame"  width="100%" height="230" src="https://www.youtube.com/embed/jCWVcJWSk1U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <label class="form-control label-video text-center">Entrevista a la Ing. Olivia Ruiz </label>
                </div>
            </div>
        </div>
    </div>
        
</section>