<section>
  <h2 class="title-hexagonal title-section-hex-blue">ADMISIONES</h2>
  <h3 class="title-hexagonal-h3 title-section-hex-black">Información Importante</h3>>
  <div>
    <figure class="imagen-section2">
      <h3 class="animated bounceInRight infinite">
        Recuerda: ¡Tú eres el responsable de elegir adecuadamente tu futuro
        académico!
      </h3>
    </figure>
  </div>
  <div class="content">
    <div class="outside">
      <div class="card-wrapper card-imagen-right">
        <div class="card-info">
          <p class="card-description">
            El Instituto Superior Tecnológico de Turismo y Patrimonio Yavirac es
            una institución pública perteneciente a Sistema Nacional de
            Nivelación y Admisión ecuatoriano.
          </p>
          <p class="card-description">
            El proceso de admisión es determinado por el Reglamento del SNNA, en
            el que se establece el siguiente procedimiento:
          </p>
        </div>

        <div class="card-img card-imagen-right">
          <img
            src="/img/carreras-vigentes/desarrollo1.jpg"
            alt="picture"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="body section-hex-gris-claro">
      <h3 class="title-hexagonal-h3 title-section-hex-black">Inscripción para rendir la Evaluación de competencias y habilidades para la Educación Superior</h3>
  </div>
  <div class="body section-hex-gris-claro">
    <main class="cards first">
      <section class="card rattata">
        <div class="icon">
          <img
            src="/img/carreras-vigentes/icons/icono-titulo.png"
            alt="titulo"
          />
        </div>
        <h3>1</h3>
        <span>Creación de cuentas</span>
      </section>
      <section class="card jigglypuff">
        <div class="icon">
          <img
            src="/img/carreras-vigentes/icons/icono-calendario.png"
            alt="duracion"
          />
        </div>
        <h3>2</h3>
        <span>Registro de datos</span>
      </section>
      <section class="card rattata">
        <div class="icon">
          <img
            src="/img/carreras-vigentes/icons/icono-modalidad.png"
            alt="modalidad"
          />
        </div>
        <h3>3</h3>
        <span>Carga de encuesta de factores asociados</span>
      </section>
    </main>
  </div>
  <div class="body section-hex-gris-claro">
    <main class="cards">
      <section class="card dewgong">
        <div class="icon">
          <img
            src="/img/carreras-vigentes/icons/icono-instituto.png"
            alt="instituto"
          />
        </div>
        <h3>4</h3>
        <span>Impresión del Comprobante</span>
      </section>
      <section class="card jigglypuff">
        <div class="icon">
          <img
            src="/img/carreras-vigentes/icons/icono-malla-curricular.png"
            alt="malla-curricular"
          />
        </div>
        <h3>5</h3>
        <span>Rendir el examen Transformar </span>
        <a
          href="https://transformar.ec/simulador"
          target="_blank"
          class="footer-call-to-action-button button hvr-wobble-horizontal"
        >Más información</a>
      </section>
      <section class="card dewgong">
        <div class="icon">
          <img
            src="/img/carreras-vigentes/icons/icono-docentes.png"
            alt="Dewgong"
          />
        </div>
        <h3>6</h3>
        <span>Postular </span>
        <a 
        href="https://transformar.senescyt.gob.ec/#/login"
        target="_blank"
        class="footer-call-to-action-button button hvr-wobble-horizontal"
        >Más información</a>
      </section>
    </main>
  </div>
  <div class="body section-hex-gris-claro">
    <main class="cards">
      <section class="card rattata">
        <div class="icon">
          <img src="/img/carreras-vigentes/icons/icono-costo.png" alt="titulo" />
        </div>
        <h3>7</h3>
        <span>Aceptar el Cupo </span>
        <a
          href="https://transformar.senescyt.gob.ec/#/login"
          target="_blank"
          class="footer-call-to-action-button button hvr-wobble-horizontal"
        >Más información</a>
      </section>
    </main>
  </div>
  <div class="button-postulate hvr-sink">
    <div class="button-postulate">
      <img src="/img/icons/actividades.png" alt="" />
    </div>
    <a
      href=" https://admision.senescyt.gob.ec/preguntas-frecuentes-proceso-de-inscripcion/"
      class="footer-call-to-action-button button space-button"
      target="_blank"
    >
      <span>Preguntas Frecuentes</span>
    </a>
  </div>
  <div class="content">
    <div class="img-parrofo-final img-oportunidad2">
      <img class="img-oportunidad" src="/img/oportunidad.jpg" alt="" />
    </div>
  </div>
  <div class="content">
        <div class="img-parrofo-final" data-aos="fade-right"  data-aos-delay="200">
             <img class="img-admision" src="/img/postulacion-adm-1.jpg" alt="">
        </div>
    </div>
</section>