<section>
    <div class="content">
            <h2 class="title-hexagonal title-section-hex-blue">Contáctenos</h2>
            <div class="grid-inti-50">
                <div class="adicional-grid espacio">
                    <h2 class="letter-bold">Información de Contacto</h2>
                    <div class="content-info-contact">
                        <p><span>Dirección: </span> García Moreno S4-35 y Ambato, Quito - Ecuador</p>
                        <p><span>Teléfono: </span> 02 394 1080</p>
                        <ul>
                            <li><span>Extensiones: </span></li>
                            <ul>
                                 <li>1000 Secretaría Rectorado</li>
                                 <li> 1002 Coordinación</li>
                                 <li> 1004 Secretaría General</li>
                                 <li> 1005 Centro de Educación</li>
                                 <li>1006 Recepción</li>
                            </ul>
                        </ul>
                        <p><span>Correo electrónico: </span> <a href="mailto:info@yavirac.edu.ec">info@yavirac.edu.ec</a></p>
                        <p><span> Horario de atención:  </span> de lunes a viernes,  de 08H00 a 17H00</p>
                    </div>
                </div>
                <div class="adicional-grid img-qr">
                        <h2 class="letter-bold">Escanea nuestra ubicación</h2>
                        <img src="img/qr-code.png">
                </div>
            </div>
                <div class="map-responsive">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.7875332920134!2d-78.5188823852467!3d-0.22508439983577377!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d59a28366b3d81%3A0xc6029256689ed873!2sInstituto%20Superior%20Tecnol%C3%B3gico%20Yavirac!5e0!3m2!1ses-419!2sec!4v1644542081860!5m2!1ses-419!2sec" width="600" height="450" frameborder="0" style="border:0;"  allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>                                                                                                                                                                                                                                                                                                                                  
        </div>
    
</section>