<section>
  <div class="parrafo-section">
        <h2 class="title-hexagonal title-section-hex-blue">Contacto</h2>
        <p class="parrafo-final margin-top-parrafo-final">Titiana Vizcaino</p>
        <p class="parrafo-final">Coordinadora de los Cursos de Capacitación</p>
          <a href="mailto:coordinacion@yavirac.edu.ec">
            <p class="parrafo-final">tvizcaino@yavirac.edu.ec</p>
          </a>
    </div>
  <h2 class=" content-hexagonal title-hexagonal title-section-hex-blue">Curso de Docencia</h2>
  <div class="grid-inti-50">
    <div class="adicional-grid">
      <div id="imagen-curso-docencia-patronaje" class="curso-docencia1">
        <div id="info-curso-docencia-patronaje">
          <p id="headline-curso-docencia-patronaje">Curso de elaboración de
            portafolio docente</p>
          <p id="descripcion-curso-docencia-patronaje">
            Dirigido a docentes de educación técnica tecnológica que quieran
            incursionar en el campo de la educación superior.
          </p>
        </div>
      </div>
    </div>

    <div class="adicional-grid">
      <div id="imagen-curso-docencia-patronaje" class="curso-docencia2">
        <div id="info-curso-docencia-patronaje">
          <p id="headline-curso-docencia-patronaje">Curso de pedagogía técnica y
            tecnológica</p>
          <p id="descripcion-curso-docencia-patronaje">
            Dirigido a docentes de educación técnica tecnológica que quieran
            incursionar en el campo de la educación superior.
          </p>
        </div>
      </div>
    </div>

  </div>


  <div class="grid-inti-50">
    <div class="adicional-grid">
      <div id="imagen-curso-docencia-patronaje" class="curso-docencia3">
        <div id="info-curso-docencia-patronaje">
          <p id="headline-curso-docencia-patronaje">Curso de investigación
            técnica y tecnológica</p>
          <p id="descripcion-curso-docencia-patronaje">
            Este curso pretende otorgar herramientas suficientes para emprender
            el proceso investigativo en el ejercicio de la educación
            universitaria.
          </p>
        </div>
      </div>
    </div>

    <div class="adicional-grid">
      <div id="imagen-curso-docencia-patronaje" class="curso-docencia4">
        <div id="info-curso-docencia-patronaje">
          <p id="headline-curso-docencia-patronaje">Curso de fotografía básica
            aplicada al patrimonio cultural</p>
          <p id="descripcion-curso-docencia-patronaje">
            Dirigido al público con o sin conocimiento del uso de cámaras
            digitales, la cultura que plasme sus ideas y conocimiento en la
            fotografía. Con enfoque hacia el Patrimonio.
          </p>
        </div>
      </div>
    </div>
  </div>

  <h2 class="title-hexagonal title-section-hex-blue">Cursos de Patronaje y Confección</h2>
    <div class="grid-inti-50">
        <div class="adicional-grid">
             <div id="imagen-curso-docencia-patronaje" class="curso-patronaje1">
                <div id="info-curso-docencia-patronaje">
                    <p id="headline-curso-docencia-patronaje">Confección y patronaje de uniformes escolares</p>
                    <p id="descripcion-curso-docencia-patronaje">
                        Dirigido a todo público hombres y mujeres con o sin conocimientos previos de confección.
                    </p>
                </div>
            </div>
        </div>

        <div class="adicional-grid"> 
            <div id="imagen-curso-docencia-patronaje" class="curso-patronaje2">
                <div id="info-curso-docencia-patronaje">
                    <p id="headline-curso-docencia-patronaje">Confección y patronaje de lencería médica</p>
                    <p id="descripcion-curso-docencia-patronaje">
                        Dirigido a todo público hombres y mujeres con o sin conocimientos previos de confección.
                    </p>
                </div>
            </div>
        </div>

    </div>

    <div class="content-hexagonal parrafo-section">
        <div class="img-parrofo-final">
            <div id="imagen-curso-docencia-patronaje" class="curso-patronaje3">
                <div id="info-curso-docencia-patronaje">
                    <p id="headline-curso-docencia-patronaje">Confección y patronaje de vestimenta industrial</p>
                    <p id="descripcion-curso-docencia-patronaje">
                        Dirigido a todo público hombres y mujeres con o sin conocimientos previos de confección.
                    </p>
                </div>
            </div>
        </div>
    </div>

</section>