<ul class="breadcrumb">
    <li><span itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
            <a itemprop="url" href="/galeria"><span itemprop="title">Galería</span></a></span>
        <span class="divider"> <span class="accesshide ">&nbsp;</span>
            </a></span>
    </li>
</ul>

{{!-- ///////////////////// --}}
<section class="content">
    <h2 class="title-hexagonal title-section-hex-blue">Galería</h2>

    <section>

        <h3 class="title-hexagonal-h3 title-section-hex-black">Comunidad Institucional</h3>
        <div class="grid-gallery cardContainer">
            <div class="item-gallery item--full" style="background-image: url('../img/galeria/docentes.png');">
                <div class="item__details">
                    Categorias
                    <a href="/galeria/categoria" class="btn btn-primary">Ver Categorías</a>
                </div>
            </div>
            <div class="item-gallery item--medium" style="background-image: url('../img/galeria/FORM.jpg');">
                <div class="item__details">
                    Prácticas profesionales

                </div>
            </div>
            <div class="item-gallery item--medium" style="background-image: url('../img/galeria/mision.jpg');">
                <div class="item__details">
                    Memorias de nuestros graduados


                </div>

            </div>
            <div class="item-gallery item--medium"
                style="background-image: url('../img/galeria/formaciontecnica.png');">
                <div class="item__details">
                    Actividades pre-prácticas

                </div>
            </div>
            <div class="item-gallery item--full" style="background-image: url('../img/galeria/educacionpublica.png');">
                <div class="item__details">
                    Proyectos Integradores
                </div>
            </div>
        </div>

        <h3 class="title-hexagonal-h3 title-section-hex-black content">Publicidad Institucional</h3>

        <div class="grid-gallery cardContainer">
            <div class="item-gallery item--full" style="background-image: url('../img/galeria/publicidad1.jpg');">
                <div class="item__details">
                    Publicidad del Instituto Yavirac
                </div>
            </div>
            <div class="item-gallery item--large" style="background-image: url('../img/galeria/publicidad2.jpg');">
                <div class="item__details">
                    Publicidad del Instituto Yavirac
                </div>
            </div>
            <div class="item-gallery item--large" style="background-image: url('../img/galeria/publicidad3.jpg');">
                <div class="item__details">
                    Publicidad del Instituto Yavirac
                </div>
            </div>
            <div class="item-gallery item--large" style="background-image: url('../img/galeria/publicidad4.jpg');">
                <div class="item__details">
                    Publicidad del Instituto Yavirac
                </div>
            </div>
        </div>
    </section>
</section>