<section>
  <div class="content">
        <h2 class="title-hexagonal title-section-hex-blue" data-aos-offset="200" data-aos="zoom-out-up">UN POCO DE HISTORIA</h2>
    <div data-aos-offset="300" data-aos="fade-down" >
        <figure class="imagen-section2">
            <h3 class="animated bounceInRight infinite center">
                       Grandes retos tiene el Yavirac y con nuestra ayuda sin duda los alcanzarás</h3>
        </figure>
    </div>
    <!--Sheet Slider-->
    <div class="parrafo-inti-yavirac" data-aos-offset="300" data-aos="zoom-out-up">
        <p class="parrafos-inti word-large">
            	El antiguo edificio ubicado en las calles Ambato y García Moreno 
                de la ciudad de Quito, recluyó a cientos de personas privadas de la 
                libertad en el pasado. Durante décadas, este inmueble tuvo ese uso y 
                se lo conoció como la Cárcel #2. Sin embargo, el lunes 25 de marzo de 
                2013, se marcó un giro definitivo en el destino de esta edificación, ya
                que el Ministerio Coordinador de Patrimonio, el Municipio del Distrito 
                Metropolitano de Quito y la Secretaría Nacional de Educación Superior, 
                Ciencia y Tecnología e Innovación (Senescyt),  firmaron un convenio tripartito
                 de cooperación interinstitucional,  donde se establece la creación del primer 
                 Instituto Tecnológico Superior, Sectorial, de Turismo y Patrimonio de la nación.
        </p>
    </div>
    <div class="content-hexagonal">
        <div class="grid-inti-50">
            <div class="adicional-grid espacio" data-aos-offset="300" data-aos="fade-left" >
                <p class="parrafos-inti word-large">
                    En paralelo, desde el 2012, el Proyecto Emblemático de Reconversión de 
                    la Educación Técnica y Tecnológica Superior Pública del país, busca 
                    fortalecer este sistema de educación superior, repotenciando física y 
                    académicamente a su estructura. Por tanto, la edificación, que antes fue
                     una cárcel municipal y que se incendió en el 2006, fue restaurada y 
                     recuperada para ponerse al servicio de la educación superior del Ecuador 
                     con una inversión aproximada a los 9 millones de dólares de parte de Senescyt.
                </p>
            </div>
            <div class="adicional-grid" data-aos-offset="300" data-aos="fade-right" data-aos-delay="200">
                <img src="img/ANTES.png" alt="">
                <span>Antes</span>
            </div>
        </div>
    </div>

      <div class="content-hexagonal">
        <div class="grid-inti-50">
            <div class="adicional-grid" data-aos-offset="300" data-aos="fade-left">
                <img src="img/despues-1.png" alt="">
                <span>Después</span>
            </div>
            <div class="adicional-grid espacio" data-aos-offset="300" data-aos="fade-right" data-aos-delay="200">
                <p class="parrafos-inti word-large">
                  	Para finales del 2016, la Secretaría de Educación Superior Ciencia 
                      Tecnología e Innovación asigna como Rector al MSc. Iván Oscar Borja
                       Carrera y como Vicerrector al MSc. Héctor Fabián Arévalo Mosquera. 
                       De la misma manera, esta secretaría de estado, para octubre del mismo
                        año encarga a las autoridades la administración del Instituto Tecnológico 
                        Superior 24 de Mayo, con la Carrera de Marketing. La población estudiantil
                        asciende a 224 alumnos con una planta docente conformada por 23 profesores.
                </p>
            </div>
        </div>
    </div>

     <div class="parrafo-inti-yavirac" data-aos-offset="300" data-aos="zoom-out-up">
        <p class="parrafos-inti word-large">
        Para mediados de 2017, se designa al MSc. Iván Borja como Rector de los Institutos Tecnológicos 
        Superiores Gran Colombia y Benito Juárez, con las carreras de Desarrollo de Software y Diseño 
        de Modas, respectivamente. La población estudiantil, supera las 900 personas, con una planta 
        docentes de 83 profesores. Durante el mismo año se aprobaron los proyectos de carrera de  
        Diseño de Modas, Desarrollo de Software y Marketing. Para 2018, se aprobaron las carreras de 
        Arte Culinario y Guía Nacional de Turismo. La población estudiantil prevista para este año 
        superará las 1200 personas.Grandes retos aguardan al Yavirac, debido a que tiene planificado: 
        la expansión de su infraestructura, el aumento de su comunidad académica, tener una mayor 
        influencia territorial en un sector históricamente marginado, una oferta académica pertinente 
        y relacionada al Plan Nacional de Desarrollo «Todo una Vida» y ser uno de los Institutos 
        Universitarios Superiores, cuya creación está superditada en las reformas a la Ley Orgánica 
        de Educación Superior (LOES). Grandes retos aguardan al Yavirac y sin duda los alcanzará.
        </p>
    </div>
    {{!-- Carrousel --}}
<div class="content-slider-history" data-aos-offset="300" data-aos="fade-down">
    <div class="sheetSlider sh-default sh-43 sh-auto">
        <input id="s1" type="radio" name="slide1" checked/> 
        <input id="s2" type="radio" name="slide1"/> 
        <input id="s3" type="radio" name="slide1"/>
        <input id="s4" type="radio" name="slide1"/>
        <input id="s5" type="radio" name="slide1"/>
        <div class="sh__content">

            <!-- Slider Item -->
            <div class="sh__item">
                <img src="img/slider/instalacion1-1.png" alt="imgText"/>
            </div>

            <div class="sh__item">
                <img src="img/slider/instalacion2.png" alt="imgText"/>
            </div>

            <div class="sh__item">
                <img src="img/slider/instalacion4.png" alt="imgText"/>
            </div>

            <div class="sh__item">
                <img src="img/slider/instalacion5.png" alt="imgText"/>
            </div>

            <div class="sh__item">
                <img src="img/slider/instalacion3.png" alt="imgText"/>
            </div>

        </div><!-- .sh__content -->

        <!--botones-->
        <div class="sh__btns">
            <label for="s1"></label>
            <label for="s2"></label>
            <label for="s3"></label>
            <label for="s4"></label>
            <label for="s5"></label>
        </div><!-- .sh__btns -->
            <button class="sh-control"></button>  
        <!--flechas-->
        <div class="sh__arrows">
            <label for="s1"></label>
            <label for="s2"></label>
            <label for="s3"></label>
            <label for="s4"></label>
            <label for="s5"></label>
        </div><!-- .sh__arrows -->
    
    </div>
</div>
<!-- .sheetSlider -->
  </div>
</section>