<section>
    <h2 class="title-hexagonal title-section-hex-blue">Centro de Idiomas</h2>
    <div>
        <figure class="imagen-ingles"></figure>
    </div>

        <div class="parrafo-inti-yavirac">
                <p class="parrafos-inti">
                	Our program has a pedagogical foundation that seeks to be flexible 
                    and well-articulated so that it can be picked up at any given point,
                     building an adequate scaffolding of previous knowledge transitioning 
                     to the zone of proximal knowledge, focusing in the achievement of 
                     significant knowledge, drawing upon the Communicative Approach, 
                     since English is a lingua franca (Gordin, 2015) for science, technology
                      and the technological community, enabling an access to relevant and 
                      current information as well as accessing communication with people 
                      throughout the world.Virtual learning platform is a plus to our program 
                      and it results from the socio-historical dynamics responding to current
                    scientifical-technological development aiming to reach international standards.
                </p>
        </div>

     <div class="content">
            <div class="grid-inti-50">
                <div class="adicional-grid espacio">
                   <h5 class="title-hexagonal-h5 title-section-hex-blue">OBJECTIVES: </h5>
                    <ul class="parrafos-inti">
                       <li>To promote the development and understanding of the world, 
                           regarding the existing cultural diversity, as well as the 
                           diversity we enjoy in our own country, highlighting the importance 
                           of conveying ideas and opinions in English.
                        </li>
                        <li>
                            To develop skills at a personal, social and intellectual level, 
                            in order to reach the highest performance in productivity, considering 
                            the existent competitiveness there is in our globalized world.
                        </li>
                        <li>
                            To generate interest in the students taking part of the learning process 
                            by means of the pleasurable experiences provided by the material that has
                             been prepared along this vision and methodology:Presentation—Practice—Product 
                             aiming towards a significant communicative practice.
                        </li>
                        <li>
                            To reach the exit profile equivalent to the B1.2 level in accordance to the CEFR 
                            (Common European Frame), as well as to the guidelines stablished by the National Curriculum.
                        </li>
                    </ul>
                </div>
                <div class="adicional-grid espacio">
                    <h5 class="title-hexagonal-h5 title-section-hex-blue">ORGANIZATIONAL ASPECTS </h5>
                    <span>1.PROCEDURE TO BE FOLLOWED</span>
                    <p class="parrafos-inti">
                       The order that has been proposed is as follows, first the student registers, 
                       then student takes a placement test, and is contacted by means of an email  
                       or  printed list to notify him or her on the grade and corresponding level. 
                       Virtual The student has then access to the grammatical contents displayed in
                        the slide-video presentation, then he or she should study the reinforcement 
                        document, next student should do the demo exercises and finish all the evaluated 
                        assignment exercises. Each of these spaces will be opened once the student has 
                        fulfilled the previous required task. Once all have been fulfilled the space for 
                        the partial test will be opened, this process is repeated until all units have 
                        been studied, and the system then will give place to the final exam which will 
                        promote the student to the next level.
                    </p>
                </div>
            </div>
     </div>

      <div class="content">
            <div class="grid-inti-50">
                <div class="adicional-grid espacio">
                   <h5 class="title-hexagonal-h5 title-section-hex-blue">	EXIT PROFILE </h5>
                    <ul class="parrafos-inti">
                       <li>
                           This proposal should encompass values such as justice, innovation, 
                           generating solutions, responsibility, reflection, conveying ideas 
                           in a critical, clear and supportive manner,  tolerance, diversity 
                           and respect towards the various existent cultures, in order to be 
                           well prepared for entering the workforce and even more to contribute 
                           creatively as citizens of the world.
                        </li>
                        <li>
                            English Proficiency Standards, students will readily comply the English
                             Proficiency level fulfilling international standards, the goal is to 
                             reach a B1 or B1.2 level.
                        </li>
                    </ul>
                </div>
                <div class="adicional-grid espacio">
                    <h5 class="title-hexagonal-h5 title-section-hex-blue">ESSENTIAL ELEMENTS TO CURRICULUM</h5>
                    <ul class="parrafos-inti">
                       <li>
                         <span>CLIC: </span>refers to the interdisciplinarity , this means understanding 
                         the English teaching-learning as a whole that generates integration of contents 
                         of the different subjects, which results in productivity by having English as a 
                         key factor to the connection, communication, cultural perception, development 
                         of the cognitive process.
                       </li>
                       <li>
                          <span> CEFR: </span>abbreviation that stands for Common European Framework.
                       </li>
                       <li>
                           <span>CLT: </span> abbreviation that stands for Communicative Learning-Teaching Approach.
                       </li>
                       <li>
                           <span>LANGUAGE ARTS: </span> does not mainly refer to formal subjects devoted to the study of
                            language, such as grammar, poetry, reading, writing, but all that is related to 
                            the use of language, such as text messages, online messages, etc.
                       </li>
                    </ul>
                </div>
         </div>
     </div>

        <div class="parrafo-inti-yavirac">
             <h5 class="title-hexagonal-h5 title-section-hex-black">2.ORGANIZATION BY LEVELS</h5>
                <p class="parrafo-centrado">
                    The following chart displays the way in which levels have 
                    been organized and in accordance to the virtual platform, 
                    according to the CEFR (Exam English Ltd., 2014) and COE 
                    parameters, with particular emphasis in bringing these to 
                    our socio-historical context:
                </p>
        </div>
        
        <div class="content">
            <h5 class="title-hexagonal-h5 title-section-hex-blue">Our teachers</h5>
            <div class="button-postulate hvr-sink">
                <div class="button-postulate">
                <img src="img/icon-woman-teacher.png" alt="">
                </div>
                <a href="/teachers-yec" 
                class="footer-call-to-action-button button space-button"
                >
                <span>More information</span>
                </a>
            </div>
        </div>

<!--         <div class="content">-->
<!--                <div class="img-parrofo-final">-->
<!--                    <img class="img-ingles-niveles" src="img/tabla.jpg" alt="">-->
<!--                </div>-->
<!--                <div class="img-parrofo-final">-->
<!--                    <img src="img/tabla2.jpg" alt="">-->
<!--                </div>-->
<!--        </div>-->
</section>