<section>
       <div class="content-hexagonal">
            <div class="grid-inti-50">
                <div class="adicional-grid espacio">
                    <h2 class="title title-section-hex-blue">MISIÓN</h2>
                    <p class="parrafos-inti">
                        Formar profesionales de excelencia de nivel Técnico y
                            Tecnológico que promuevan, integren y apliquen sus conocimientos en 
                            turismo, patrimonio cultural y carreras afines para ofrecer una respuesta
                            a las necesidades del sistema turístico a través de la conservación y 
                            restauración de bienes arquitectónicos, arqueológicos, históricos y 
                            artísticos y de esta manera fortalecer las identidades nacionales.
                    </p>
                </div>
                <div class="adicional-grid">
                    <img src="img/mision.jpg" alt="">
                </div>
            </div>
        </div>

     <div>
        <figure class="imagen-section2">
            <h3 class="animated bounceInRight infinite center">
                 Las carreras técnicas y tecnológicas que ofrecemos, se desarrollan en el mejor ambiente institucional
            </h3>
        </figure>
    </div>

      <div class="content-hexagonal">
        <div class="grid-inti-50">
            <div class="adicional-grid">
                <img src="img/vision.jpg" alt="">
            </div>
            <div class="adicional-grid espacio">
                <h2 class="title title-section-hex-blue">VISIÓN</h2>
                <p class="parrafos-inti">
                  Al 2020 el Instituto Superior Tecnológico de Turismo y Patrimonio 
                  Yavirac será la institución líder en la formación profesional de 
                  técnicos y tecnólogos superiores en turismo, patrimonio cultural y 
                  carreras afines con un modelo pedagógico de alto rigor académico y 
                  científico en la recuperación y proyección de la memoria histórica, 
                  basado en valores sociales y éticos universales.
                </p>
            </div>
        </div>
    </div>
        <div class="content-hexagonal">
             <figure class="imagen-mision-vision"></figure>
        </div>

</section>

