<section>
        <div class="grid-content">
            <h2 class="title-hexagonal title-section-hex-blue">Proceso de Homologación</h2>
            <div class="img-content" data-aos="fade-left"  data-aos-delay="400">
                    <img class="content-img2" src="img/slider/HOMOLOGACIONES-2021.png" alt="">
            </div>
        </div>
</section>