<section>
    <div class="content">
        <h2 class="title-hexagonal title-section-hex-blue">REGLAMENTOS INTERNOS</h2>
        <ul id="hexGrid">
            <li class="hex" data-aos="fade-left" data-aos-delay="200">
                <div class="hexIn btn-under">
                    <a class="hexLink" href="pdf/reglamentos/1-interno-regimen-academico.pdf" target="_blank">
                        <img src="img/reglamentos/1.jpg" alt=""/>
                        <h1>Reglamento Interno de Régimen Académico</h1>
                        <p>Estos Reglamentos están en vigencia para toda la comunidad del Instituto.</p>
                    </a>
                </div>
                <div class="btn-reglamentos">
                    <a class="footer-call-to-action-button button space-button hvr-grow"
                       href="pdf/reglamentos/1-interno-regimen-academico.pdf" target="_blank">
                        Descargar PDF
                        <i class="bi bi-arrow-down-circle" style="font-size: 2rem; color: #fff"></i>
                    </a>
                </div>
            </li>
            <li class="hex" data-aos="fade-down" data-aos-delay="400">
                <div class="hexIn btn-under">
                    <a class="hexLink" href="pdf/reglamentos/2-ocs.pdf" target="_blank">
                        <img src="img/reglamentos/2-ocs.jpg" alt=""/>
                        <h1>Reglamento del Órgano Colegiado Superior</h1>
                        <p>Estos Reglamentos están en vigencia para toda la comunidad del Instituto.</p>
                    </a>
                </div>
                <div class="btn-reglamentos">
                    <a class="footer-call-to-action-button button space-button hvr-grow"
                       href="pdf/reglamentos/2-ocs.pdf" target="_blank">Descargar PDF
                        <i class="bi bi-arrow-down-circle" style="font-size: 2rem; color: #fff"></i>
                    </a>
                </div>
            </li>
            <li class="hex exceptionOther" data-aos="fade-down" data-aos-delay="600">
                <div class="hexIn btn-under">
                    <a class="hexLink" href="pdf/reglamentos/3-disciplinario.pdf" target="_blank">
                        <img src="img/reglamentos/3-disciplinario.jpg" alt=""/>
                        <h1>Reglamento de Régimen Disciplinario</h1>
                        <p>Estos Reglamentos están en vigencia para toda la comunidad del Instituto.</p>
                    </a>
                </div>
                <div class="btn-reglamentos">
                    <a class="footer-call-to-action-button button space-button hvr-grow"
                       href="pdf/reglamentos/3-disciplinario.pdf" target="_blank">Descargar PDF
                        <i class="bi bi-arrow-down-circle" style="font-size: 2rem; color: #fff"></i>
                    </a>
                </div>
            </li>
            <li class="hex exception" data-aos="fade-left" data-aos-delay="800">
                <div class="hexIn btn-under">
                    <a class="hexLink" href="pdf/reglamentos/4-elecciones.pdf" target="_blank">
                        <img src="img/reglamentos/4-elecciones.jpg" alt=""/>
                        <h1>Reglamento de Elecciones</h1>
                        <p>Estos Reglamentos están en vigencia para toda la comunidad del Instituto.</p>
                    </a>
                </div>
                <div class="btn-reglamentos">
                    <a class="footer-call-to-action-button button space-button hvr-grow"
                       href="pdf/reglamentos/4-elecciones.pdf" target="_blank">Descargar PDF
                        <i class="bi bi-arrow-down-circle" style="font-size: 2rem; color: #fff"></i>
                    </a>
                </div>
            </li>
        </ul>

        <ul id="hexGrid">
            <li class="hex" data-aos="fade-right" data-aos-delay="200">
                <div class="hexIn btn-under">
                    <a class="hexLink" href="pdf/reglamentos/R-Consejo-Estudiantil.pdf" target="_blank">
                        <img src="img/reglamentos/reglamento-estudiantil.jpg" alt=""/>
                        <h1>Reglamento del Consejo Estudiantil Tecnológico</h1>
                        <p>Estos Reglamentos están en vigencia para toda la comunidad del Instituto.</p>
                    </a>
                </div>
                <div class="btn-reglamentos">
                    <a class="footer-call-to-action-button button space-button hvr-grow"
                       href="pdf/reglamentos/R-Consejo-Estudiantil.pdf" target="_blank">Descargar PDF
                        <i class="bi bi-arrow-down-circle" style="font-size: 2rem; color: #fff"></i>
                    </a>
                </div>
            </li>
            <li class="hex" data-aos="fade-down" data-aos-delay="400">
                <div class="hexIn btn-under">
                    <a class="hexLink" href="pdf/reglamentos/Plan-de-Emergencia-1-1.pdf" target="_blank">
                        <img src="img/reglamentos/banner-plan-de-emergencia.jpeg" alt=""/>
                        <h1>Plan de Emergencia</h1>
                        <p>Estos Reglamentos están en vigencia para toda la comunidad del Instituto.</p>
                    </a>
                </div>
                <div class="btn-reglamentos">
                    <a class="footer-call-to-action-button button space-button hvr-grow"
                       href="pdf/reglamentos/Plan-de-Emergencia-1-1.pdf" target="_blank">Descargar PDF
                        <i class="bi bi-arrow-down-circle" style="font-size: 2rem; color: #fff"></i>
                    </a>
                </div>
            </li>
            <li class="hex except" data-aos="fade-left" data-aos-delay="600">
                <div class="hexIn btn-under">
                    <a class="hexLink" href="pdf/reglamentos/Politica-de-seguridad.pdf" target="_blank">
                        <img src="img/reglamentos/banner-politicas-de-seguridad.jpeg" alt=""/>
                        <h1>Política de Seguridad</h1>
                        <p>Estos Reglamentos están en vigencia para toda la comunidad del Instituto.</p>
                    </a>
                </div>
                <div class="btn-reglamentos">
                    <a class="footer-call-to-action-button button space-button hvr-grow"
                       href="pdf/reglamentos/Politica-de-seguridad.pdf" target="_blank">Descargar PDF
                        <i class="bi bi-arrow-down-circle" style="font-size: 2rem; color: #fff"></i>
                    </a>
                </div>
            </li>
            <li class="hex exception" data-aos="fade-left" data-aos-delay="800">
                <div class="hexIn btn-under">
                    <a class="hexLink" href="pdf/reglamentos/4-elecciones.pdf" target="_blank">
                        <img src="img/reglamentos/4-elecciones.jpg" alt=""/>
                        <h1>Reglamento de Elecciones</h1>
                        <p>Estos Reglamentos están en vigencia para toda la comunidad del Instituto.</p>
                    </a>
                </div>
                <div class="btn-reglamentos">
                    <a class="footer-call-to-action-button button space-button hvr-grow"
                       href="pdf/reglamentos/4-elecciones.pdf" target="_blank">Descargar PDF
                        <i class="bi bi-arrow-down-circle" style="font-size: 2rem; color: #fff"></i>
                    </a>
                </div>
            </li>
        </ul>
    </div>
</section>

