<section>
    <div class="grid-content">
        <h2 class="title-hexagonal title-section-hex-blue">Matriculación</h2>
        <div class="button-postulate hvr-sink">
            <div class="button-postulate">
                <i class="bi bi-clipboard2-check" style="font-size: 4.5rem; color: #085eb9"></i>
            </div>
            <a href="https://youtu.be/_dxAjbpCqDw" style="background-color: #687f90;"
               class="footer-call-to-action-button button space-button" target="_blank">
                <span>¿Cómo actualizar mi ficha personal?</span>
            </a>
            <a href="https://youtu.be/j7pm9sS4QgI" style="background-color: #0836b7;"
               class="footer-call-to-action-button button space-button" target="_blank">
                <span>¿Cómo enviar mi solicitud de matrícula?</span>
            </a>
            <a href="http://siga.institutos.gob.ec:8080/siga-web/indice.jsf"
               class="footer-call-to-action-button button space-button" target="_blank">
                <span>Matricúlate aquí (SIGA)</span>
            </a>
        </div>
        <div class="img-content" data-aos="fade-right" data-aos-delay="200">
            <img class="content-img1" src="img/enrollments/2022-1/banner_1.jpg" alt="">
        </div>
        <div class="img-content" data-aos="fade-right" data-aos-delay="200">
            <img class="content-img1" src="img/enrollments/2022-1/banner_2.jpg" alt="">
        </div>
        <div class="button-postulate hvr-sink">
            <div class="button-postulate">
                <i class="bi bi-clipboard2-check" style="font-size: 4.5rem; color: #085eb9"></i>
            </div>
            <a href="http://siga.institutos.gob.ec:8080/siga-web/indice.jsf"
               class="footer-call-to-action-button button space-button" target="_blank">
                <span>Matricúlate aquí (SIGA)</span>
            </a>
        </div>
    </div>
</section>