<section>
    <h2 class="title-hexagonal title-section-hex-blue">Rendición de cuentas</h2>
    <div class="content">
       <div class="grid-content-50">
            <div class="adicional-grid" data-aos="fade-right" data-aos-delay="200">
                <a href="pdf/rendiciones/rendicion-cuentas-2019.pdf" target="_blank">
                    <img class="img-rendicion" src="img/rendicion-cuentas-2019.png" alt="">
                </a>
                <br>
                <div class="btn-reglamentos">
                    <a class="footer-call-to-action-button button space-button hvr-grow" href="pdf/rendiciones/rendicion-cuentas-2019.pdf" target="_blank">
                    Descargar PDF
                    <i class="bi bi-arrow-down-circle" style="font-size: 2rem; color: #fff"></i>
                    </a>
                </div>
            </div>
            <div class="adicional-grid" data-aos="fade-left" data-aos-delay="400">
               <a href="pdf/rendiciones/rendicion-cuentas-2020.pdf" target="_blank">
                 <img class="img-rendicion" src="img/rendicion-2020.jpg" alt="">
               </a>
            </div>
        </div>
    </div>
</section>