<nav class="navbar-one flex">
  <div class="left flex">
      <div class="email">
        <i class="bi bi-envelope-fill" style="font-size: 2rem; color: #fff"></i>
        <a href="mailto:info@yavirac.edu.ec"><span>info@yavirac.edu.ec </span></a>
      </div>
      <div class="call">
        <i class="bi bi-telephone-fill" style="font-size: 2rem; color: #fff"></i>
        <span>+593 (02) 394 1080</span>
      </div>
  
   
      
  </div>

  
</nav>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand logo" href="/"><img src="/img/Logo Yavirac.png" alt=""></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/" class="hvr-shutter-out-horizontal">Inicio</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle hvr-shutter-out-horizontal" data-toggle="dropdown" href="">Nosotros<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/historia" class="hvr-shutter-out-horizontal">Historia</a></li>
            <li><a href="/mision-vision" class="hvr-shutter-out-horizontal">Misión y Visión</a></li>
            <li><a href="/authorities" class="hvr-shutter-out-horizontal">Autoridades y Directivos</a></li>
            <li><a href="/teachers" class="hvr-shutter-out-horizontal">Planta Docente</a></li>
            <li><a href="/page/politica-calidad" class="hvr-shutter-out-horizontal">Política de Calidad</a></li>
            <li><a href="/transparencia" class="hvr-shutter-out-horizontal">Transparencia</a></li>
            <li><a href="/reglamentos" class="hvr-shutter-out-horizontal">Reglamentos</a></li>
          </ul>
        </li>
         <li class="dropdown">
          <a class="dropdown-toggle hvr-shutter-out-horizontal" data-toggle="dropdown" href="">Carreras<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/#oferta-academica" class="hvr-shutter-out-horizontal">Carreras Vigente</a></li>
            <li><a href="/centro-idioma" class="hvr-shutter-out-horizontal">Centro de Idiomas</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle hvr-shutter-out-horizontal" data-toggle="dropdown" href="">Plataformas<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="https://eva.yavirac.edu.ec/" target="_blank" class="hvr-shutter-out-horizontal">Aula Virtual (EVA)</a></li>
            <li><a href="https://bolsa-empleo.yavirac.edu.ec/" target="_blank" class="hvr-shutter-out-horizontal">Bolsa de Empleo</a></li>
            <li><a href="https://ignug.yavirac.edu.ec/" target="_blank" class="hvr-shutter-out-horizontal">IGNUG</a></li>
            <li><a href="https://yec.yavirac.edu.ec/" target="_blank" class="hvr-shutter-out-horizontal">YEC</a></li>
            <li><a href="http://siga.institutos.gob.ec:8080/siga-web/indice.jsf" target="_blank" class="hvr-shutter-out-horizontal">Sistema Integrado de Gestión (SIGA)</a></li>
            <li><a href="https://gestion-documental.yavirac.edu.ec/share/page" target="_blank" class="hvr-shutter-out-horizontal">Sistema de Gestión Documental</a></li>
            <li><a href="/libros-y-publicaciones"  class="hvr-shutter-out-horizontal">Libros y publicaciones</a></li>
          </ul>
        </li>
         {{!-- <li class="dropdown">
          <a class="dropdown-toggle hvr-shutter-out-horizontal" data-toggle="dropdown" href="">Servicios<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#" class="hvr-shutter-out-horizontal">Bienestar Estudiantil</a></li>
            <li><a href="#" class="hvr-shutter-out-horizontal">Seguimiento a graduados</a></li>
            <li><a href="#" class="hvr-shutter-out-horizontal">Consejo Estudiantil Tecnológico</a></li>
          </ul>
        </li> --}}
        <li class="dropdown">
          <a class="dropdown-toggle hvr-shutter-out-horizontal" data-toggle="dropdown" href="">Educación Continua<span class="caret"></span></a>
          <ul class="dropdown-menu">
            {{!-- <li><a href="#" class="hvr-shutter-out-horizontal">Certificaciones</a></li> --}}
            <li><a href="/cursos-capacitacion" class="hvr-shutter-out-horizontal">Cursos de Capacitación</a></li>
          </ul>
        </li>
        <li><a href="/contactanos" class="hvr-shutter-out-horizontal">Contáctenos</a></li>
        <li class="dropdown">
          
      </ul>
    </div>
  </div>
</nav>
